{% load static %}

<section class="skrollable u-align-center u-clearfix u-custom-color-9 u-section-2" id="sec-5356">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div
                    class="u-align-center u-border-2 u-border-custom-color-5 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <span class="u-icon u-icon-circle-20 u-icon-1">
                            <img class="u-expanded" src="{% static 'dashboard/images/section-2/img1.png' %}">
                        </span>
                        <h4
                            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-1">
                            Your diabetes data at a glance</h4>
                    </div>
                </div>
                <div
                    class="u-align-center-xs u-border-2 u-border-custom-color-5 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-2">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <span class="u-icon u-icon-circle-20 u-icon-2">
                            <img class="u-expanded" src="{% static 'dashboard/images/section-2/img2.png' %}">
                        </span>
                        <h4
                            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-2">
                            Charts and reports</h4>
                    </div>
                </div>
                <div
                    class="u-align-center u-border-2 u-border-custom-color-5 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <span class="u-icon u-icon-circle-20 u-icon-3">
                            <img class="u-expanded" src="{% static 'dashboard/images/section-2/img3.png' %}">
                        </span>
                        <h4
                            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-3">
                            Share data with your care providers online</h4>
                    </div>
                </div>
                <div
                    class="u-align-center u-border-2 u-border-custom-color-5 u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-4">
                    <div class="u-container-layout u-similar-container u-container-layout-4">
                        <span class="u-icon u-icon-circle-20 u-icon-4">
                            <img class="u-expanded" src="{% static 'dashboard/images/section-2/img4.png' %}">
                        </span>
                        <h4
                            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-4">
                            Reminders and recommendations&nbsp;</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
