{% load static %}

<section class="u-clearfix u-custom-color-9 u-section-3" id="sec-ce0b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <div
                                class="u-align-center u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <h2 class="u-subtitle u-text u-text-1">
                                        <span style="font-weight: 700;">Partners:</span>
                                    </h2>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius-30 u-shape-round u-white u-group-2">
                                <div class="u-container-layout u-container-layout-3">
                                    <div class="u-carousel u-expanded-width u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-always u-gallery-1"
                                        data-interval="5000" data-u-ride="carousel" id="carousel-eb61">
                                        <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                                            <li data-u-target="#carousel-eb61" data-u-slide-to="0"
                                                class="u-active u-grey-70 u-shape-circle"
                                                style="width: 10px; height: 10px;"></li>
                                            <li data-u-target="#carousel-eb61" data-u-slide-to="1"
                                                class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;">
                                            </li>
                                            <li data-u-target="#carousel-eb61" data-u-slide-to="2"
                                                class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;">
                                            </li>
                                        </ol>
                                        <div class="u-carousel-inner u-gallery-inner" role="listbox">
                                            <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                                                <div class="u-back-slide" data-image-width="225"
                                                    data-image-height="225">
                                                    <img class="u-back-image u-expanded u-back-image-1"
                                                        src="{% static 'dashboard/images/doctor1.jpeg' %}">
                                                </div>
                                                <div class="u-over-slide u-over-slide-1">
                                                    <h3 class="u-gallery-heading">Dr. Ana Popescu</h3>
                                                    <p class="u-custom-font u-gallery-text u-heading-font">Medic
                                                        specialist diabet zaharat</p>
                                                </div>
                                            </div>
                                            <div class="u-carousel-item u-gallery-item u-carousel-item-2">
                                                <div class="u-back-slide" data-image-width="275"
                                                    data-image-height="183">
                                                    <img class="u-back-image u-expanded"
                                                        src="{% static 'dashboard/images/doctor2.jpeg' %}">
                                                </div>
                                                <div class="u-over-slide u-over-slide-2">
                                                    <h3 class="u-gallery-heading">Dr Ion Marian</h3>
                                                    <p class="u-custom-font u-gallery-text u-heading-font">Medic boli
                                                        metabolice<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="u-carousel-item u-gallery-item u-carousel-item-3">
                                                <div class="u-back-slide" data-image-width="275"
                                                    data-image-height="183">
                                                    <img class="u-back-image u-expanded"
                                                        src="{% static 'dashboard/images/doctor3.jpeg' %}">
                                                </div>
                                                <div class="u-over-slide u-over-slide-3">
                                                    <h3 class="u-gallery-heading">Dr. Andreea Pop</h3>
                                                    <p class="u-custom-font u-gallery-text u-heading-font">Medic
                                                        specialist diabet zaharat</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle-20 u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
                                            href="#carousel-eb61" role="button" data-u-slide="prev">
                                            <span aria-hidden="true">
                                                <svg viewBox="0 0 451.847 451.847">
                                                    <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
    c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
    c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                                                </svg>
                                            </span>
                                            <span class="sr-only">
                                                <svg viewBox="0 0 451.847 451.847">
                                                    <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
    c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
    c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                                                </svg>
                                            </span>
                                        </a>
                                        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle-20 u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
                                            href="#carousel-eb61" role="button" data-u-slide="next">
                                            <span aria-hidden="true">
                                                <svg viewBox="0 0 451.846 451.847">
                                                    <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
    L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
    c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                                                </svg>
                                            </span>
                                            <span class="sr-only">
                                                <svg viewBox="0 0 451.846 451.847">
                                                    <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
    L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
    c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-4">
                            <div
                                class="u-container-style u-expanded-width u-group u-radius-50 u-shape-round u-white u-group-3">
                                <div class="u-container-layout u-container-layout-5">
                                    <h2 class="u-subtitle u-text u-text-default u-text-2">Welcome!</h2>
                                    <p class="u-text">A new way to manage your diabetes.</p>
                                    <p class="u-text">The purpose of this software is to help you get the most out of your continuous glycated hemoglobin monitoring.</p>
                                    <p class="u-text">Working on your laptop, cooking in your kitchen, or driving your car?
                                        Your glycated hemoglobin values are always just a glance away.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
